
footer{
    background-color: rgb(165, 131, 185);
    color: black;
    height: 100px;
    width: 100%;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 15px;
    align-self: flex-end;
    margin: auto;
    border:solid 2px;
    font-size: 1em;
}


img{
    border: solid 2px;
    color: transparent;
    padding: 30px;
    border-radius: 50px;
    width: 300px;
    height: 250px;
    float: left;
    margin-right: 50px;
    max-width: 100%;
    margin: 20px;
}

nav{
    background-color: rgb(165, 131, 185);
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: black;
    height: 100px;
    width: 100%;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 15px;
    align-self: flex-end;
    margin: auto;
    border:solid 2px;
    font-size: 1em;
}

.boton{
    background-color: rgba(195, 195, 206, 0.795);
    margin: 15px;
    padding: 10px;
    width: auto;
    height: 10px;
    border-radius: 30px;
    margin-inline: 100 px;
    font-family: Georgia, serif;
    border:solid 3px;
    font-size: 1em;

    
}

p{
    margin-right: 45px;
    font-size: larger;
    font-style: bold;
    margin: 20px;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    background-color: rgba(195, 195, 206, 0.795);
    height: 420px;
    width: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    position: relative;
    margin-top: 15px;
    margin-block-end: 15px;
    margin-left: 280px
    

}

.container{
    display: flex;
    flex-wrap: wrap;
}